.products-carousel {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

/* Riga con freccia sinistra - card - freccia destra */
.products-carousel-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* Contenitore delle card nella "pagina" del carosello */
.product-section-carousel-flex {
    display: flex;
    flex-wrap: nowrap;
    gap: 22px;
    overflow: visible;
}

/* Bottoni */
.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: white;
    border: none;
    color: var(--text);
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.256);
}

.carousel-button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.carousel-button:hover:not(:disabled) {
    background: var(--bg);
    color: white;
    transform: scale(1.2);
}

.products-carousel-counter {
    font-size: 0.85rem;
    color: #444;
    text-align: right;
}

@media (max-width: 1120px) {

    .product-card {
        width: 270px;
    }

    .product-card-image-wrapper {
        height: 210px;
    }

}

@media (max-width: 670px) {

    .product-card {
        width: 350px;
    }

    .product-card-image-wrapper {
        height: 270px;
    }

}

@media (max-width: 430px) {

    .product-card {
        width: 230px;
    }

    .product-card-image-wrapper {
        height: 180px;
    }

}

.products-carousel-indicator {
    margin-top: 12px;
    font-size: 0.9rem;
    color: #444;
}