.navbar-icon {
    width: 25px;
    color: black;
    padding: 20px 0;
}

.navbar-icon svg {
    transition: all 0.3s ease;
} 

.navbar-icon:hover svg {
    transform: scale(1.3);
    color: var(--text);
}

.navbar__logo {
    transition: all 0.3s ease;
}
.navbar__logo:hover {
    transform: scale(1.05);
}