.navbar-icon {
    width: 25px;
    color: black;
    padding: 20px 0;
}

.navbar-icon svg {
    transition: all 0.3s ease;
}

.navbar-icon:hover svg {
    transform: scale(1.3);
    color: var(--text);
}

.navbar-logo {
    color: var(--text);
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.navbar-logo:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px 40px !important;
    }
}
