/* Contenitore della card prodotto */
.product-card {
    background-color: #fbeae3;
    border-radius: 18px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 230px;
    height: 520px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 2px 2px 5px 0px #02020238;
}

.product-card:hover {
    transform: scale(1.04);
    z-index: 10;
}

/* Per quando ci sarà l'immagine vera */
.product-card-image-wrapper {
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 10px;
    background: #f3f3f3;
}

.product-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Titolo (nome del prodotto) */
.product-card-title {
    font-size: 1rem;
    font-weight: 600;
}

/* Testo descrizione */
.product-card-description {
    font-size: 0.9rem;
    color: #666;
}

/* Prezzo in evidenza */
.product-card-price {
    margin-top: 8px;
    font-weight: 700;
    color: var(--text);
}