/* Contenitore della card prodotto */
.product-card {
    background-color: #ffffff;
    border-radius: 18px;
    border: 1px solid #e4e4e4;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    flex: 0 0 230px;
    height: 515px;
}

/* Per quando ci sarà l'immagine vera */
.product-card-image-wrapper {
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 10px;
    background: #f3f3f3;
}

.product-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Titolo (nome del prodotto) */
.product-card-title {
    font-size: 1rem;
    font-weight: 600;
}

/* Testo descrizione */
.product-card-description {
    font-size: 0.9rem;
    color: #666;
}

/* Prezzo in evidenza */
.product-card-price {
    margin-top: 8px;
    font-weight: 700;
    color: #1a73e8;
}