.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
}

.container h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}


.wishlist-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
