* {
  font-family: "Space Grotesk", sans-serif;
}

:root{
  /* colore per alcuni dettagli */
  --text: #f47b73;
  --bg: linear-gradient(90deg,rgb(253, 159, 127) 0%, rgb(255, 173, 65) 100%);
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #fff9f7;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
